.error{
  background-color: #EF9024;
  border-radius: 25%;
  font-weight: thicker;
  left: 50%;
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.error span{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 20px;
}

.registerinput{
  width: 50%;
}

.center{
  text-align: center;
}

.name{
  font-weight: thicker;
  position: absolute;
}

.name[class='name showcase']{
  font-size: 150%;
}

.name[class='name register']{
  font-size: 200%;
}

.player{
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  position: absolute;
}

.player[class='player register']{
  width: 600px;
  height: 600px;
}

.player[class='player showcase']{
  width: 200px;
  height: 200px;
}

#errorWindow{
  position: absolute;
  background-color: rgba(49, 87, 137, 0.5);
  top: 0;
}

#gameContainer{
  width: 1000px;
  height: 800px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#gameWindow{
  position: relative;
  width: 1000px;
  height: 800px;
}

#gameWindow .playbutton{
  font-size: 4em;
  margin-top: 400px;
  border-radius: 30%;
  background-color: limegreen;
  color: white;
  text-align: center;
}

#gameWindow .registerbutton{
  margin-top: 5px;
}

#gameWindow .layout{
  height: 100%;
  width: 100%;
}

#gameWindow .noticemsg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}